<!-- 01 Building a Basic Bootstrap Form -->
<!-- <form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" class="form-control" />
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
    <button class="btn btn-primary">Submit</button>
  </div>
</form> -->

<!-- 02 ngModel -->
<!-- <form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      ngModel
      name="firstName"
      #firstName="ngModel"
      (change)="log(firstName)"
      id="firstName"
      type="text"
      class="form-control"
    />
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
    <button class="btn btn-primary">Submit</button>
  </div>
</form> -->

<!-- 03 Adding Validation -->
<!-- <form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      required
      ngModel
      name="firstName"
      #firstName="ngModel"
      (change)="log(firstName)"
      id="firstName"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid"
    >
      First Name is required.
    </div>
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
    <button class="btn btn-primary">Submit</button>
  </div>
</form> -->

<!-- 04 Specific Validation Errors -->
<!-- <form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      required
      minlength="3"
      maxlength="10"
      pattern="banana"
      ngModel
      name="firstName"
      #firstName="ngModel"
      (change)="log(firstName)"
      id="firstName"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid"
    >
      <div *ngIf="firstName.errors?.['required']">First Name is required.</div>
      <div *ngIf="firstName.errors?.['minlength']">
        First name should be minimum 3 characters --{{ firstName.errors?.['minlength'].requiredLength }}
      </div>
      <div *ngIf="firstName.hasError('pattern')">
        First name doesn't match the pattern
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
    <button class="btn btn-primary">Submit</button>
  </div>
</form> -->

<!-- 05 ngForm -->
<!-- <form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      required
      minlength="3"
      maxlength="10"
      pattern="banana"
      ngModel
      name="firstName"
      #firstName="ngModel"
      (change)="log(firstName)"
      id="firstName"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid"
    >
      <div *ngIf="firstName.errors?.['required']">First Name is required.</div>
      <div *ngIf="firstName.errors?.['minlength']">
        First name should be minimum 3 characters --{{ firstName.errors?.['minlength'].requiredLength }}
      </div>
      <div *ngIf="firstName.hasError('pattern')">
        First name doesn't match the pattern
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
    <button class="btn btn-primary">Submit</button>
  </div>
</form> -->

<!-- 06 ngModelGroup -->
<!-- <form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="3"
        maxlength="10"
        pattern="banana"
        ngModel
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
          First name should be minimum 3 characters --{{ firstName.errors?.['minlength'].requiredLength }}
        </div>
        <div *ngIf="firstName.hasError('pattern')">
          First name doesn't match the pattern
        </div>
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
    <button class="btn btn-primary">Submit</button>
  </div>
</form> -->

<!-- 07  Disabling the Submit Button -->
<!-- <form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="3"
        maxlength="10"
        pattern="banana"
        ngModel
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
          First name should be minimum 3 characters --{{ firstName.errors?.['minlength'].requiredLength }}
        </div>
        <div *ngIf="firstName.hasError('pattern')">
          First name doesn't match the pattern
        </div>
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      required
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form> -->

<!-- 08 Working with Check Boxes -->
<!-- <form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="3"
        maxlength="10"
        pattern="banana"
        ngModel
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
          First name should be minimum 3 characters --{{ firstName.errors?.['minlength'].requiredLength }}
        </div>
        <div *ngIf="firstName.hasError('pattern')">
          First name doesn't match the pattern
        </div>
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      required
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <div class="checkbox">
    <label for="">
      <input type="checkbox" ngModel name="isSubscribed" />Subscribe to mailing
      list
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form> -->

<!-- 09 Working with Drop-down Lists -->
<!-- <form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="3"
        maxlength="10"
        pattern="banana"
        ngModel
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
          First name should be minimum 3 characters --{{ firstName.errors?.['minlength'].requiredLength }}
        </div>
        <div *ngIf="firstName.hasError('pattern')">
          First name doesn't match the pattern
        </div>
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      required
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <div class="checkbox">
    <label for="">
      <input type="checkbox" ngModel name="isSubscribed" />Subscribe to mailing
      list
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select
      multiple
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <option value=""></option>
      <option *ngFor="let method of contactMethods" [value]="method.id">
        {{ method.name }}
      </option>
      //or
      <option *ngFor="let method of contactMethods" [ngValue]="method">
        {{ method.name }}
      </option>
    </select>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form> -->

<!-- 10 Working with Radio Buttons -->
<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="3"
        maxlength="10"
        pattern="banana"
        ngModel
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
        class="form-control"
      />

      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.errors?.['required']">
          First Name is required.
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
          First name should be minimum 3 characters --{{ firstName.errors?.['minlength'].requiredLength }}
        </div>
        <div *ngIf="firstName.hasError('pattern')">
          First name doesn't match the pattern
        </div>
      </div>
    </div>
  </div>

  <div class="from-group">
    <label for="comment">Comment</label>
    <textarea
      required
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>

  <div class="checkbox">
    <label for="">
      <input type="checkbox" ngModel name="isSubscribed" />Subscribe to mailing
      list
    </label>
  </div>

  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select
      multiple
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <option value=""></option>
      <option *ngFor="let method of contactMethods" [value]="method.id">
        {{ method.name }}
      </option>
      <!-- or -->
      <option *ngFor="let method of contactMethods" [ngValue]="method">
        {{ method.name }}
      </option>
    </select>
  </div>

  <div *ngFor="let method of contactMethods" class="radio">
    <label>
      <input ngModel type="radio" name="contactMethod" [value]="method.id" />
      {{ method.name }}
    </label>
  </div>
  <!-- //or -->
  <div class="radio">
    <label>
      <input ngModel type="radio" name="contactMethod" value="2" /> phone
    </label>
  </div>

  <p>
    {{ f.value | json }}
  </p>

  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
